<section class="row">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Foods</li>
  </ol>

  <h1>Foods</h1>
  <div class="col-md-6">
  <%= link_to "Add a food", new_food_path %>
    <% @foods.each do |food| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to food.title, food %>
          </div>
        </div>
    <% end %>
  </div>
</section>
