<h1>Add a food</h1>
<div class="row">
  <div class="col-md-6"><%= form_for @food do |f| %>
        <fieldset>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :image_url %>
            <%= f.url_field :image_url, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :places, "Place" %>
            <%= f.text_field :places, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :descript, "Description" %>
            <%= f.text_field :descript, class: 'form-control' %>
          </div>
        </fieldset>
        <%= f.submit nil, class: "btn btn-primary" %>
        <%= link_to "Back", :back, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
