<section class="row">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Foods", foods_path %></li>
    <li class="active"><%= @food.title %></li>
  </ol>
  <h1><%= @food.title %></h1>

  <div class="col-md-6">
    <%= image_tag @food.image_url, class: "img-responsive" %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h2>Popular in: <%= @food.places %></h2>
      </div>

      <div class="panel panel-body">
        <h3>Description: </h3>
        <ul class="list-unstyled">
          <li><%= @food.descript %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <%= link_to "Back to all food", foods_path %>
</div>
