<section class="row">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Paintings", paintings_path %></li>
    <li class="active"><%= @painting.title %></li>
  </ol>
  <h1><%= @painting.title %></h1>

  <div class="col-md-6">
    <%= image_tag @painting.image_url, class: "img-responsive" %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h2>Created by: <%= @painting.artist_id %></h2>
      </div>

      <div class="panel panel-body">
        <h3>Description: </h3>
        <ul class="list-unstyled">
          <li><%= @painting.desc %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <%= link_to "Back to all paintings", paintings_path %>
</div>
