<section class="row">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Artists</li>
  </ol>

  <h1>Artists</h1>
  <div class="col-md-6">
  <%= link_to "Add a new artist", new_artist_path %>
    <% @artists.each do |artist| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to artist.name, artist %>
          </div>
        </div>
    <% end %>
  </div>
</section>
