<section class="row">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li class="active">Festivals</li>
  </ol>

  <h1>Festivals</h1>
  <div class="col-md-6">
  <%= link_to "Add a festival", new_festival_path %>
    <% @festivals.each do |festival| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to festival.title, festival %>
          </div>
        </div>
    <% end %>
  </div>
</section>
