<h1>Add a festival</h1>
<div class="row">
  <div class="col-md-6"><%= form_for @festival do |f| %>
        <fieldset>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :image_url %>
            <%= f.url_field :image_url, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :place, "Place" %>
            <%= f.text_field :place, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Description" %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
        </fieldset>
        <%= f.submit nil, class: "btn btn-primary" %>
        <%= link_to "Back", :back, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
