<section class="row">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Festivals", festivals_path %></li>
    <li class="active"><%= @festival.title %></li>
  </ol>
  <h1><%= @festival.title %></h1>

  <div class="col-md-6">
    <%= image_tag @festival.image_url, class: "img-responsive" %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h2>Happens in: <%= @festival.place %></h2>
      </div>

      <div class="panel panel-body">
        <h3>Description: </h3>
        <ul class="list-unstyled">
          <li><%=  @festival.description %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <%= link_to "Back to all festival", paintings_path %>
</div>
