<section class="row">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Museums", museums_path %></li>
    <li class="active"><%= @museum.name %></li>
  </ol>

  <h1><%= @museum.name %></h1>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Artists on display</h2>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <%= render @museum.artists %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Paintings on display</h2>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <%= render @museum.paintings %>
        </ul>
      </div>
    </div>
  </div>

  <%= link_to "Back to all museums", museums_path %>
</section>
