<div class="row">
  <div class="jumbotron">
    <div class="row">
     <div class="col-md-2">
     </div>
      <div class="col-md-8">
        <%= image_tag('splash.gif', class: 'img-responsive img-rounded jumbo-image') %>
        
      </div>
    </div>
  </div>
</div>

<div class="row featured">
  <div class="panel panel-default col-md-4">

    <h2>Foods and Cuisines</h2>
    <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-shopping-cart'), foods_path %>
    <!--<%= link_to "Browse by Artist", artists_path %>-->
  </div>

  <div class="panel panel-default col-md-4">
    <h2>Festivities</h2>
    <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-user'), festivals_path %>
  </div>
  <div class="panel panel-default col-md-4">
    <h2>Arts</h2>
    <%= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-picture'), paintings_path %>
  </div>
</div>
