<!DOCTYPE html>
<html>
<head>
  <title>Cultures</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="container">
  <header class="row">
    <nav class="navbar navbar-pills">
      <div class="navbar-header">
        <%= link_to(image_tag('logo2.png', class: 'logo'), root_path, class: 'pull-left') %>
        <%= link_to "Nice Juan!", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Foods and Cuisines", foods_path %></li>
        <li><%= link_to "Festivities", festivals_path %></li>
        <li><%= link_to "Paintings", paintings_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <% if notice %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
  <% end %>

  <% if alert %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
  <% end %>

  <%= yield %>
</section>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
